.favorite{
    min-height: 100vh;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,30.333%);
    gap: .5em;
    justify-content: flex-start;
    @media screen and (max-width: 994px) {
        & {
            grid-template-columns: repeat(3, auto);
            gap: .5em;
           
        }
    }
    @media screen and (max-width: 788px) {
        & {
            grid-template-columns: repeat(2, 50%);
          
        }
    }
    @media screen and (max-width: 584px) {
        & {
            .Card{
                width: 100%;
                height: 100%;
            }
        }
    }
    @media screen and (max-width: 484px) {
        & {
            grid-template-columns: repeat(2, 48%);
          
        }
    }

    @media screen and (max-width:328px) {
        & {
            grid-template-columns: repeat(1, 95%);
            justify-content: center;
        }
    }
}