body {
    background-color: #161616;
}

.Home {
    background-color: #161616;
    min-height: 97vh;
    color: #fff;

    .carosel {
        width: 100%;
        height: 500px;
        transition: background-image 0.5s ease-in-out;
        background-size: cover;
        background-position: center;
        position: relative;
        font-family: sans-serif;
        overflow: hidden;

        .details {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-shadow: 2px 2px #000;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 20%;
            transition: background-image 0.5s ease-in-out;

            .overview {
                line-height: 1.8;
                font-size: 16px;
                color: #ccc;
            }

            .title {
                font-size: 25px;
            }

            .rate {
                span {
                    margin-left: 5px;
                }

                i {
                    margin-left: 10px;
                    color: gold;
                }
            }

            .watch {
                a {
                    padding: 9px 25px;
                    border-radius: 4px;
                    color: #fff;
                    background-color: rgb(255, 65, 65);

                }
            }
        }
    }

    .result {
        padding: 5%;
        min-height: auto;
        color: #fff;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1em;
        justify-content: center;

        @media screen and (max-width: 800px) {
            & {
                grid-template-columns: repeat(2, auto);

            }
        }

        @media screen and (max-width: 480px) {
            & {
                grid-template-columns: repeat(2, 50%);

            }
        }

        @media screen and (max-width:328px) {
            & {
                grid-template-columns: repeat(1, 90%);
                justify-content: center;
            }
        }
    }
}